apiVersion: apps/v1
kind: Deployment
metadata: {name: devops-capstone, labels: {app: devops-capstone}}
spec:
  replicas: 2
  selector: {matchLabels: {app: devops-capstone}}
  template:
    metadata: {labels: {app: devops-capstone}}
    spec:
      securityContext: {runAsNonRoot: true, runAsUser: 1000, fsGroup: 2000}
      containers:
      - name: web
        image: devops-capstone:local
        imagePullPolicy: IfNotPresent
        ports: [{containerPort: 8080}]
        env: [{name: PORT, value: "8080"}]
        resources: {requests: {cpu: "50m", memory: "64Mi"}, limits: {cpu: "250m", memory: "256Mi"}}
        readinessProbe: {httpGet: {path: /healthz, port: 8080}, initialDelaySeconds: 5, periodSeconds: 5}
        livenessProbe: {httpGet: {path: /healthz, port: 8080}, initialDelaySeconds: 10, periodSeconds: 10}
        securityContext: {allowPrivilegeEscalation: false, readOnlyRootFilesystem: true, capabilities: {drop: ["ALL"]}}
        volumeMounts: [{name: tmp, mountPath: /tmp}]
      volumes: [{name: tmp, emptyDir: {}}]
